:root {
  --font-size-sm: clamp(Infinityrem, -Infinityvw + Infinityrem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(0rem, 2.88vw + -0.72rem, 1.58rem);
  --font-size-lg: clamp(0rem, 3.84vw + -0.96rem, 2.11rem);
  --font-size-xl: clamp(0rem, 5.11vw + -1.28rem, 2.81rem);
  --font-size-xxl: clamp(0rem, 6.82vw + -1.7rem, 3.75rem);
  --font-size-xxxl: clamp(0rem, 9.09vw + -2.27rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-left: 1.25em;
}


nav ul li a:link,
nav ul li a:visited {
  color: #000;
  text-decoration: none;
}

body {
  margin: 0;
}

.product-grid {
  display : grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.5em;
  gap: 1em;
}


#bite-me {
  padding-bottom: 5em;
}

h1 {
  font-size: var(--font-size-lg);
  padding-bottom: -10em;
}

#cart {
  text-decoration: none;
}

.btn {
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

#behindthedough {
  padding-bottom: 3em;
}

#behindthedough 
h2 {
  text-align: center;
}

#grid-btd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1em;
}


#p1 {
  padding-left: 18em;
}

#p2 {
  padding-right: 18em;
}


#quotes {
  background-color: #000;
  color: #fff;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1em;
}

/* @media (min-width: 38em){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em){
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

#quotes {
  padding-top: 3em;
  padding-bottom: 3em;
}

#quotes 
h2 {
  text-align: center;
}

#col1 {
  padding-left: 15em;
}

#col2 {
  padding-left: 8em;
  padding-right: 8em;
}

#col3 {
  padding-right: 15em;
}

.dough-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1em;
}

@media (min-width: 38em){
  .dough-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em){
  .dough-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

img {
  display: block;
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 1em 0;
}



